body {
  margin-bottom: 150px;
}
.alerts {
  position: sticky;
  top: 20px;
}

.slash {
  font-size: 20px;
  font-weight: bold;
}

.vote-score {
  font-size: 20px;
  font-weight: bold;
}

.negative {
  color: darkred;
}

.negative:hover {
  color: red;
}

.positive {
  color: darkgreen;
}

.positive:hover {
  color: lightgreen;
}

.fa {
  cursor: pointer;
  font-size: 20px;
}

.fa-arrow-up {
  color: darkgreen;
  margin-right: 10px;
}

.fa-arrow-up:hover {
  color: lightgreen;
}

.fa-arrow-down {
  color: darkred;
}

.fa-arrow-down:hover {
  color: red;
}

.fa-comments {
  margin-right: 5px;
  color: #333;
}

.fa-comments:hover {
  color: #5a5a5a;
}

.fa-trash {
  margin-right: 10px;
  color: darkred;
}

.fa-trash:hover {
  color: red;
}

.fa-pencil {
  margin-right: 10px;
  color: #c4be23;
}

.fa-pencil:hover {
  color: yellow;
}

.mr10 {
  margin-right: 10px;
}

.grey {
  color: #333;
  font-weight: bold;
}
